h1 {
    color: #606060;
    text-align: center;
    padding: 5px;
    font: "Times New Roman";
}

footer {
    color: #606060;
    text-align: center;
    padding: 50px;
    font-family: "Times New Roman";
}

h2 {
    color: #707070;
    text-shadow: 3px 3px 2px #E0E0E0;
    font-family: "Times New Roman";
}

p {
    font-size: 20px;
    font-family: "Times New Roman";
}

a {
    text-decoration: none;
    color: #59595b;
    transition: background-color 0.2s ease;
}

a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
    margin-left: auto;
    margin-right: auto;
}

ul {
    font-family: "Times New Roman";
    font-size: 20px;
}

#maincontent {
    width: 800px;
    margin: 10px auto;
    z-index: 2;
}

.dropshadow2 {
    float: left;
    clear: left;
    background: url(shadow1.png) no-repeat bottom right !important;
    background: url(shadow2.gif) no-repeat bottom right;
    margin: 10px 0 10px 10px !important;
    margin: 10px 0 10px 5px;
    width: 780px;
    height: 80px;
    padding: 5px;
}

#imagecontent {
    width: 120px;
    height: auto;
}

#headimage {
    float: left;
    padding: 60px;
}

#button {
    float: center;
    padding: 0px;
}

#intro {
    width:500px;
    float:left;
}

#education {
    width:800px;
    float:left;
}

#news {
    width:800px;
    float:left;
}

#pub {
    width:800px;
}