h1
{
    background-color:gray;
    color:white;
    text-align:center;
    padding:5px;
}

p
{
    font-family: "Cooper Hewitt";    
    font-size: 20px;

}

body
{
    margin-left: auto; 
    margin-right: auto;
}

ul
{
   font-family: "Cooper Hewitt";    
    font-size: 20px;
}

table
{
    font-family: "Cooper Hewitt";    
    font-size: 20px;  
}
#maincontent {
    width: 800px;
    margin: 10px auto;
}


#imagecontent {
    width: 160px;
    height: 120px;
    transform: rotate(90deg);
}

#headimage {
    float:left;
    padding:60px; 

}

#intro {
    width:450px;
    float:left;

}

#education {
    width:800px;
    float:left;
}

#pub {
    width:800px;
}