h1
{
    color:#606060;
    text-align:center;
    padding: 5px;
}


h2
{
    font-family: "Cooper Hewitt";
    color: #707070;
    text-shadow: 3px 3px 2px #E0E0E0;
}

p
{
    font-family: "Cooper Hewitt";    
    font-size: 20px;

}

body
{
    margin-left: auto; 
    margin-right: auto;
}

ul
{
   font-family: "Cooper Hewitt";    
    font-size: 20px;
}

#maincontent {
    width: 800px;
    margin: 10px auto;
}


.dropshadow2{
    float:left;
    clear:left;
    background: url(shadow1.png) no-repeat bottom right !important;
    background: url(shadow2.gif) no-repeat bottom right;
    margin: 10px 0 10px 10px !important;
    margin: 10px 0 10px 5px;
    width: 780px;
    height: 80px;
    padding: 5px;
}


#imagecontent {
    width: 160px;
    height: 120px;
    transform: rotate(90deg);
}

#headimage {
    float:left;
    padding:60px; 

}

#intro {
    width:500px;
    float:left;

}

#education {
    width:800px;
    float:left;
}

#pub {
    width:800px;
}